@font-face {
    font-family: 'DINRoundPro';
    src: url('DINRoundPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINRoundPro-Light';
    src: url('DINRoundPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINRoundPro-Medium';
    src: url('DINRoundPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINRoundPro-Bold';
    src: url('DINRoundPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINRoundPro-Black';
    src: url('DINRoundPro-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.DINRoundPro{ font-family:'DINRoundPro', Arial, Helvetica, sans-serif }
.DINRoundPro-Light{font-family:'DINRoundPro-Light', Arial, Helvetica, sans-serif }
.DINRoundPro-Medium{ font-family:'DINRoundPro-Medium', Arial, Helvetica, sans-serif }
.DINRoundPro-Bold{ font-family:'DINRoundPro-Bold', Arial, Helvetica, sans-serif }
.DINRoundPro-Black{ font-family:'DINRoundPro-Black', Arial, Helvetica, sans-serif }