body{
    padding-top: 50px;
}
.sub-header{
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.navbar-fixed-top {
    border: 0;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand,
.navbar-inverse .navbar-nav > li > a{
    color: #fff;
}

.navbar > .container .navbar-brand:hover, .navbar > .container-fluid .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:hover{
    color: #777;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
}

table.dataTable thead .sorting {
    background: url('images/sort_both.png') no-repeat center right;
}

table.dataTable thead .sorting_asc {
    background: url('images/sort_asc.png') no-repeat center right;
}

table.dataTable thead .sorting_desc {
    background: url('images/sort_desc.png') no-repeat center right;
}

table.dataTable thead .sorting_asc_disabled {
    background: url('images/sort_asc_disabled.png') no-repeat center right;
}

table.dataTable thead .sorting_desc_disabled {
    background: url('images/sort_desc_disabled.png') no-repeat center right;
}

table.dataTable th:active {
    outline: none;
}
div.dataTables_filter label {
    float: right;
    font-weight: normal;
}

div.dataTables_filter input {
    width: 16em;
}
div.dataTables_paginate {
    float: right;
    margin: 0;
}

div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
}