/* STYLESHEET - ©Aris Dwi Sulistiawan*/
body{ margin:0; padding:0; line-height:normal; outline:0; background:transparent }
h1, .h1, h2, .h2, h3, .h3, h4, .h4{ margin-top:10px; margin-bottom:10px; }
h1, .h1, h2, .h2, h3, .h3, h4, .h4{ color:#e12726; font-family:'DINRoundPro-Bold', Arial, Helvetica, sans-serif; margin-bottom:20px; }
p{ color:#978b82; font-size:16px; font-family:'DINRoundPro-Medium', Arial, Helvetica, sans-serif; }
.enter{ clear:both; height:10px; }.doubleenter{ clear:both; height:20px; } .thirdenter{ clear:both; height:30px; } .fourthenter{ clear:both; height:40px; }

.btn-rc, a.btn-rc, button.btn-rc{ padding:6px 30px; background:#e12726; color:#fff; font-family:'DINRoundPro-Medium', Arial, Helvetica, sans-serif; border-radius:5px; font-size:20px; border:0; }
.btn-rc:hover, a.btn-rc:hover{ background:#ed3231; text-decoration:none;}
.rc-sk, a.rc-sk{ text-decoration:underline; color:#8a8c8c; }
.border-rc{ border-color:#e12726 !important; }

.container{ width:760px; height:auto; position:relative; margin:0; padding:0; }
.head-rc{ border:15px solid #e4e0dd; border-bottom:none; padding:20px 40px; }
.head-rc .logo-rc{ text-align:left; }
.head-rc .rc-step-1{ text-align:center; padding:10px 0; }
.modal-petunjuk{ width:65%; padding:5%; margin:15% auto 0; text-align:center; border-radius:20px; background:#e12726; color:#fff; }
.modal-petunjuk p{ font-family:'DINRoundPro-Bold', Arial, Helvetica, sans-serif; color:#fff; font-size:16px; }
.modal-apps{ width:65%; padding:5%; margin:15% auto 0; text-align:center; border-radius:20px;  }
.modal-apps label{ font-size:16px; color:#978b82; font-family:'DINRoundPro-Medium', Arial, Helvetica, sans-serif; }
.modal-apps a.close-x, .modal-petunjuk a.close-x{ position:absolute; right:-25px; top:-30px; color:#fff; font-size:28px; text-decoration:none; outline:none; }
.skor-rc{ background:url(../img/step-6/image-1.png) center center no-repeat; width:132px; height:128px; margin:0 auto; text-align:center; font-family:'DINRoundPro-Medium', Arial, Helvetica, sans-serif; font-size:55px; color:#e12726; padding:15px 0 0 0; }
.share-sosmed{ width:255px; position:relative; text-align:right; display:inline-table; margin-top:5px; }
.head-question{ height:75px; }
.help{ padding:25px 0; }
.life{ font-family:'DINRoundPro-Bold', Arial, Helvetica, sans-serif; font-size:18px; color:#e12726; border-bottom:1px solid #e12726; border-top:1px solid #e12726; padding:5px 0; }
.timer{ font-family:'DINRoundPro-Bold', Arial, Helvetica, sans-serif; font-size:28px; color:#e12726; text-decoration:none; cursor:default; outline:none; padding:13px 0; }
ul.step-number{ margin:0; padding:0; list-style:none; background:url(../img/stepline.png) center center no-repeat; }
ul.step-number li{ color:#b5b3b3; background:#fff; border:1px solid #b5b3b3; display:inline-block; margin:0 7px; font-size:20px; padding:2px 11px 4px 11px; border-radius:30px; }
ul.step-number li:last-child{ padding:2px 7px 4px 6px;}
ul.step-number li.active{ background:#e12726; color:#fff; border:1px solid #e12726; }
ul.step-number li.true{ background:#8cc63f; color:#fff; border:1px solid #8cc63f; }
ul.step-number li.false{ background:#8a8c8c; color:#fff; border:1px solid #8a8c8c; }
.question{ color:#e12726; font-family:'DINRoundPro-Bold', Arial, Helvetica, sans-serif; margin-bottom:20px; }
.option{ display:block; border:1px solid #c8c7c7; border-radius:6px; color:#978b82; font-size:16px; margin:5px 0; min-height:44px; max-height:60px; padding:4px 0; }
.option input[type=radio] {  display: none; }  
.option label{ cursor:pointer; float:left; margin-left:45px; display:block; text-align:left; }
.option label span{ border-radius:30px; padding:2px 10px 5px 10px; display:inline-block; background:#cec7c2; color:#fff; font-size:20px; position:absolute; left:20px; }
.option:hover{ background:#e12726; }
.option:hover label{ color:#fff }
.option:hover label span{ background:#fff; color:#e12726; }
.option.checked-true{ background:#8cc63f url(../img/checked-true.png) right 10px no-repeat; }
.option.checked-true label{ color:#fff; }
.option.checked-true label span{ background:#fff; color:#8cc63f; }
.option.checked-false{ background:#8a8c8c url(../img/checked-false.png) right 10px no-repeat; }
.option.checked-false label{ color:#fff; }
.option.checked-false label span{ background:#fff; color:#8a8c8c; }
.batas-share{ border-right:2px solid #828487; }
.share-email, .share-email a{ color:#828487; font-size:16px; text-decoration:none; }
.syarat-ketentuan{ text-align:left; height:380px; overflow:scroll; overflow-x:hidden; }
.foot-rc{ background:#978b82; padding:10px; text-align:center; font-size:14px; color:#fff; font-family:'DINRoundPro', Arial, Helvetica, sans-serif;  }
.foot-rc a{ color:#fff; }


/* DISABLE RESPOSIVE */
@media (min-width: 760px) {
	.col-md-2{ width:16.6666%; float:left; }
	.col-md-3{ width:25%; float:left; }
	.col-md-4{ width:33.3333%; float:left; }
	.col-md-5{ width:41.6666%; float:left; }
	.col-md-6{ width:50%; float:left; }	
	.col-md-7{ width:58.3333%; float:left; }
	.col-md-9{ width:75%; float:left; }
	.col-md-10{ width:83.3333%; float:left; }
}